<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!recipeForm.valid"
            >
              Save
            </button>
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
            <div
              *ngIf="
                recipeForm.get('name').errors && recipeForm.get('name').touched
              "
            >
              <span
                *ngIf="recipeForm.get('name').errors.required"
                class="text-danger"
                >Name is required!</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
            />
            <div
              *ngIf="
                recipeForm.get('imagePath').errors &&
                recipeForm.get('imagePath').touched
              "
            >
              <span
                *ngIf="recipeForm.get('imagePath').errors.required"
                class="text-danger"
                >Image URL is required!</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img
            [src]="recipeForm.get('imagePath').value"
            [alt]="recipeForm.get('name').value"
            class="img-responsive"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              rows="6"
              class="form-control"
              formControlName="description"
            ></textarea>
            <div
              *ngIf="
                recipeForm.get('description').errors &&
                recipeForm.get('description').touched
              "
            >
              <span
                *ngIf="recipeForm.get('description').errors.required"
                class="text-danger"
                >Description is required!</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            style="margin-bottom: 5px"
            *ngFor="
              let ingredient of recipeForm.controls['ingredients']['controls'];
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger">X</button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
