<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <span>{{ error }}</span>
    </div> -->

    <app-alert
      [message]="error"
      *ngIf="error"
      (closeMessage)="onHandleError()"
    ></app-alert>

    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
        <div
          class="text-danger auth-form--error"
          *ngIf="authForm.get('email').errors && authForm.get('email').touched"
        >
          <span *ngIf="authForm.get('email').errors.required"
            >Email is required!</span
          >
          <span *ngIf="authForm.get('email').errors.email"
            >Incorrect email!</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <div
          class="text-danger auth-form--error"
          *ngIf="
            authForm.get('password').errors && authForm.get('password').touched
          "
        >
          <span *ngIf="authForm.get('password').errors.required"
            >Password is required!</span
          >
          <span *ngIf="authForm.get('password').errors.minlength"
            >Password should be minimum
            {{ authForm.get("password").errors.minlength.requiredLength }}
            characters!</span
          >
        </div>
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
